{{define "content"}}
<h1>Profile</h1>
<div>
    <form hx-post="/ajax/saveProfile"
          hx-target="#results"
          hx-swap="outerHTML">
        <label for="firstName">First Name:</label>
        <input id="firstName" type="text" name="firstName" value="{{.Profile.FirstName}}"/>
        <label for="lastName">Last Name:</label>
        <input id="lastName" type="text" name="lastName" value="{{.Profile.LastName}}"/>
        <button type="submit">
            Save Profile
        </button>
    </form>
    <div id="results"></div>
</div>
{{end}}